<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html>
<head>
    <title>GR-Calcul - @ViewBag.Title</title>
    <link href="@Url.Content("~/Content/Site.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/themes/base/jquery-ui.css")" rel="stylesheet" type="text/css" />

    <script src="@Url.Content("~/Scripts/jquery-1.4.4.min.js")" type="text/javascript"></script>
    
    <script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/jquery-ui.min.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/EditorHookup.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/date.js")" type="text/javascript"></script>
    <script src="@Url.Content("~/Scripts/gr-calcul.js")" type="text/javascript"></script>
        
</head>

<body>
    <div id="header">
        <div></div>
		<h1><a href="#"><span>GR-Calcul</span></a></h1>
		<span id="user">@Html.Partial("_LogOnPartial")</span>
	</div>
	<div id="page-wrap">
    <div class="rightbg">
		<ul id="menu">
                @Html.Partial("_Menu", ViewData["Menu"]) 
		</ul>
		<div id="main-content">
					
				@RenderBody()
					
		</div>
        </div>
	</div>
	<div id="footer">
        <div></div>
		<p id="copyright">
			<span>Copyright &#169; 2011  <a href="#">gr-calcul</a>. All Rights Reserved.</span>
		</p>
	</div>
</body>
</html>
