@model GR_Calcul.Models.CourseRangesViewModel
           
@{
    ViewBag.Title = "Reservation des ranges pour " + Model.Course.Name;
}

<h2>@ViewBag.Title
@{
    var isResponsible = false;
    if (Request.IsAuthenticated && ((GR_Calcul.Models.Person)Membership.GetUser(Context.User.Identity.Name)).pType == GR_Calcul.Models.PersonType.Responsible)
    {
        isResponsible = true;
        <span style="float:right; margin-right:20px;"><a href="@Url.Action("Create").ToString()" class="button">Ajouter range</a></span>
    }
    var isResourceManager = false;
    if (Request.IsAuthenticated && ((GR_Calcul.Models.Person)Membership.GetUser(Context.User.Identity.Name)).pType == GR_Calcul.Models.PersonType.ResourceManager)
    {
        isResourceManager = true;
    }
}
</h2>


@foreach (var slotRange in Model.SlotRanges)
{
    
    <h3>@slotRange.Name - @String.Format(@"{0:dd.MM.yyyy}", slotRange.StartRes) - @String.Format(@"{0:dd.MM.yyyy}", slotRange.EndRes)
        <span style="float:right; margin-right:20px;">
        @if (isResponsible)
        {
            <a href="@Url.Action("Edit", new { id = slotRange.id_slotRange }).ToString()" class="modify"></a>
            <a href="@Url.Action("Duplicate", new { id = slotRange.id_slotRange }).ToString()" class="dupl"></a>
            <a href="@Url.Action("Delete", new { id = slotRange.id_slotRange }).ToString()" class="delete"></a>
        }
        else if (isResourceManager)
        {
            <a href="@Url.Action("Script", new { id = slotRange.id_slotRange }).ToString()" class="script"></a>
        }
        </span>
    </h3>

    if(isResponsible)
    {
        <table class="slotRange">
	        <thead>
		        <tr>
			        <th class="empty">&nbsp;</th>
                    @for (int i = 0; i < slotRange.Slotdate.Count; i++)
                    {
                        DateTime date = slotRange.Slotdate[i];
                        string id = "slotRow" + i;
                        string value = String.Format(@"{0:dd.MM.yyyy}", date);
			            <th colspan="@slotRange.GetSlotsForDate(date).Count">@value</th>
                    }
		        </tr>
		        <tr class="subTitle">
			        <th class="empty withborder">&nbsp;</th>
                    @for (int i = 0; i < slotRange.Slotdate.Count; i++)
                    {
                        DateTime date = slotRange.Slotdate[i];
                        string id = "slotRow" + i;
                        string value = String.Format("{0:dd/MM/yyyy}", date);
                        int j = 0;

                        foreach (var slot in slotRange.GetSlotsForDate(date))
                        {
                            string start = slot.getFormatedStartTime();
                            string end = slot.getFormatedEndTime();

                            j++;

                            if (j < slotRange.GetSlotsForDate(date).Count)
                            {
					            <th>@start-@end</th>
                            }
                            else
                            {
                                <th class="withborder">@start-@end</th>
                            }
                        }
                    }
		        </tr>
	        </thead>
	        <tbody>
            @foreach (GR_Calcul.Models.Person person in Model.Course.Students)
            {
		        <tr>
			        <th>@person.FirstName @person.LastName</th>

                    @for (int i = 0; i < slotRange.Slotdate.Count; i++)
                    {
                        foreach (var slot in slotRange.GetSlotsForDate(slotRange.Slotdate[i]))
                        {
                            GR_Calcul.Models.Reservation reservation = slot.getReservation(person.ID);
                            if (reservation != null)
                            {
                                <td class="reserved">@reservation.NumberMachines</td>
                            }
                            else
                            {
                                <td></td>
                            }
                        }
                    }
                </tr>
            }
	        </tbody>
        </table>
    }
}