@model GR_Calcul.Models.CourseRangesViewModel
           
@{
    ViewBag.Title = "CourseRanges";
}

<h2>Reservation des ranges pour "GRID-1"<span style="float:right; margin-right:20px;"><button type="button">Ajouter range</button></span></h2>


@foreach (var slotRange in Model.SlotRanges)
{
<h3>@slotRange.Name - @slotRange.StartRes - @slotRange.EndRes <span style="float:right; margin-right:20px;"><a href="#" class="modify"></a><a href="#" class="dupl"></a><a href="#" class="script"></a><a href="#" class="delete"></a></span></h3>
<table class="simpleTable">
	<thead>
		<tr>
			<th colspan="2">&nbsp;</th>
            @for (int i = 0; i < slotRange.Slotdate.Count; i++)
		    {
			    DateTime date = slotRange.Slotdate[i];
			    string id = "slotRow" + i;
			    string value = String.Format("{0:dd/MM/yyyy}", date);
			    <th colspan="@slotRange.GetSlotsForDate(date).Count">@value</th>
		    }
		</tr>
		<tr class="subTitle">
			<th colspan="2">&nbsp;</th>
            @for (int i = 0; i < slotRange.Slotdate.Count; i++)
		    {
                DateTime date = slotRange.Slotdate[i];
			    string id = "slotRow" + i;
			    string value = String.Format("{0:dd/MM/yyyy}", date);

                foreach (var slot in slotRange.GetSlotsForDate(date))
				{
					int startHour = slot.Start.Hour;
					int startMinute = slot.Start.Minute;
					int endHour = slot.End.Hour;
					int endMinute = slot.End.Minute;
					string start = startHour + ":" + startMinute;
					string end = endHour + ":" + endMinute;
					
					<th>@start - @end</th>
				}
		    }
		</tr>
	</thead>
	<tbody>
    @foreach (GR_Calcul.Models.Person person in Model.Course.Students)
    {
		<tr>
			<td>@person.FirstName - @person.LastName</td>

            @for (int i = 0; i < slotRange.Slotdate.Count; i++)
		    {
                foreach (var slot in slotRange.GetSlotsForDate(slotRange.Slotdate[i]))
				{
                    GR_Calcul.Models.Reservation reservation = slot.getReservation(person.ID);
                    if (reservation != null)
                    {
                        <td style="text-align:center;">@reservation.NumberMachines</td>
                    }
                    else
                    {
                        <td></td>
                    }
                }
            }
        </tr>
    }
	</tbody>
</table>
}