@model List<GR_Calcul.Models.SlotRange>
           
@{
    ViewBag.Title = "CourseRanges";
}

<h2>Reservation des ranges pour "GRID-1"<div style="float:right; margin-right:20px;"><button type="button">Ajouter range</button></div></h2>


@foreach (var slotRange in Model)
{
<h3>@slotRange.Name - @slotRange.StartRes - @slotRange.EndRes <div style="float:right; margin-right:20px;"><a href="#" class="modify"></a><a href="#" class="dupl"></a><a href="#" class="script"></a><a href="#" class="delete"></a></div></h3>
<table class="simpleTable">
	<thead>
		<tr>
			<th>&nbsp;</th>
            @for (int i = 0; i < slotRange.Slotdate.Count; i++)
		    {
			    DateTime date = slotRange.Slotdate[i];
			    string id = "slotRow" + i;
			    string value = String.Format("{0:dd/MM/yyyy}", date);
			    <th colspan="@slotRange.GetSlotsForDate(date).Count">@value</th>
		    }
		</tr>
		<tr class="subTitle">
			<th>&nbsp;</th>
            @for (int i = 0; i < slotRange.Slotdate.Count; i++)
		    {
                DateTime date = slotRange.Slotdate[i];
			    string id = "slotRow" + i;
			    string value = String.Format("{0:dd/MM/yyyy}", date);

                foreach (var slot in slotRange.GetSlotsForDate(date))
				{
					int startHour = slot.Start.Hour;
					int startMinute = slot.Start.Minute;
					int endHour = slot.End.Hour;
					int endMinute = slot.End.Minute;
					string start = startHour + ":" + startMinute;
					string end = endHour + ":" + endMinute;
					
					<th>@start - @end</th>
				}
		    }
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Michou</td>
			<td style="text-align:center;">X - 5</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Chrisou</td>
			<td></td>
			<td></td>
			<td style="text-align:center;">X - 7</td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
		<tr>
			<td>Davidou</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td style="text-align:center;">X - 11</td>
		</tr>
	</tbody>
</table>
}