@model GR_Calcul.Models.SlotRange

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Êtes vous sûr de vouloir supprimer cette plage de créneaux?</h3>


@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

     @Html.HiddenFor(model => model.id_slotRange)
     @Html.HiddenFor(model => model.IdCourse)
     <input type="hidden" id="Timestamp" name="Timestamp" value="@Model.Timestamp" />

    <p><b>Nom : </b>@Model.Name</p>
    <p><b>Début de la réservation: </b>@String.Format("{0:g}", Model.StartRes)</p>
    <p><b>Fin de la réservation: </b>@String.Format("{0:g}", Model.EndRes)</p>
    <p><b>Cours : </b>@Model.IdCourse</p>

    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink("Back to List", "Index")
    </p>
}


