@model GR_Calcul.Models.SlotRange

@{
    ViewBag.Title = "Dupliquer";
}

<h2>Dupliquer une plage de créneaux</h2>

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)

    <p><b>Date du début de la reservation de la plage source : </b>@Model.StartRes</p>
    
    <div class="editor-label">
        Début de la réservation de la plage cible :
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.StartRes)
        @Html.ValidationMessageFor(model => model.StartRes)
    </div>

    <p>
        <input type="submit" value="Valider" />
    </p>
}

<div>
    @Html.ActionLink("Retour à la liste", "Index")
</div>

