@model GR_Calcul.Models.Machine

@{
    ViewBag.Title = "Supprimer une machine";
}

<h2>@ViewBag.Title</h2>

<h3>Êtes vous sûr de vouloir supprimer cette machine?</h3>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

     @Html.HiddenFor(model => model.id_machine)
     <input type="hidden" id="Timestamp" name="Timestamp" value="@Model.Timestamp" />

    <p><b>Id machine : </b>@Html.DisplayFor(model => model.id_machine)</p>

    <p><b>Nom : </b>@Html.DisplayFor(model => model.Name)</p>

    <p><b>IP : </b>@Html.DisplayFor(model => model.IP)</p>

@*    <div class="display-label">room</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.room)
    </div>

    <div class="display-label">os</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.os)
    </div>*@
    <p>
        <input type="submit" value="Supprimer" /> |
        @Html.ActionLink("Retour à la liste", "Index")
    </p>
}
