@model GR_Calcul.Models.Machine

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Machine</legend>

    <div class="display-label">Name</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">IP</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.IP)
    </div>

    <div class="display-label">room</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.room)
    </div>

    <div class="display-label">os</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.os)
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { /* id=Model.PrimaryKey */ }) |
    @Html.ActionLink("Back to List", "Index")
</p>
