@model GR_Calcul.Models.Person2

@{
    ViewBag.Title = "Supprimer une Personne";
}

<h2>@ViewBag.Title</h2>

<h3>Êtes vous sûr de vouloir supprimer cette personne?</h3>
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)

    @Html.HiddenFor(model => model.FirstName)
    @Html.HiddenFor(model => model.LastName)
    @Html.HiddenFor(model => model.Email)
    @Html.HiddenFor(model => model.Username)
    @Html.HiddenFor(model => model.pType)
    @Html.HiddenFor(model => model.Timestamp)

    <p><b>Prénom : </b>@Html.DisplayFor(model => model.FirstName)</p>

    <p><b>Nom : </b>@Html.DisplayFor(model => model.LastName)</p>

    <p><b>Email : </b>@Html.DisplayFor(model => model.Email)</p>

    <p><b>Nom d'utilisateur : </b>@Html.DisplayFor(model => model.Username)</p>
    
    <p>
        <input type="submit" value="Delete" /> |
        @Html.ActionLink(GR_Calcul.Misc.Messages.retList, "Index")
    </p>
}
