@model IEnumerable<GR_Calcul.Models.Person>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Créer une personne", "Create")
</p>


@{
    /*
    foreach (var m in Model)
    {
        <p>@m.Email</p>
    }


    WebGrid grid = new WebGrid(Model);
    

    grid.GetHtml(
        tableStyle: "simpleTable",
        headerStyle: "head",
        alternatingRowStyle: "alt",

        columns: grid.Columns(
            grid.Column("pType", "Type"),
                grid.Column("FirstName", "Prénom"),
                grid.Column("LastName", "Nom"),
                grid.Column("Email", "Email"),
                grid.Column("Username", "Nom d'utilisateur"),
                grid.Column(format: (item) =>
                    {
                        return new HtmlString("<a href=\"" + Url.Action("Edit", new { id = item.ID, pType = item.pType }).ToString() + "\"class=\"modify\" title=\"Modifier\"></a>" +
                                                "<a href=\"" + Url.Action("Delete", new { id = item.ID, pType = item.pType }).ToString() + "\"class=\"delete\" title=\"Supprimer\"></a>");
                    }, canSort: false))
            );

    */
}

<table class="simpleTable">
    <thead>
    <tr>
        <th></th>
        <th>
            FirstName
        </th>
        <th>
            LastName
        </th>
        <th>
            Email
        </th>
        <th>
            Username
        </th>
        <th>
            Password
        </th>
    </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
        <td>
            @item.FirstName
        </td>
        <td>
            @item.LastName
        </td>
        <td>
            @item.Email
        </td>
        <td>
            @item.Username
        </td>
        <td>
            @item.Password
        </td>
    </tr>
}
</tbody>

</table>